.studentClass {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 230px 1fr;


    .addStudentForm {
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.4);
        position: fixed;
        z-index: 20;
        display: grid;
        place-content: center;

        .studentCon {
            width: 350px;
            height: 300px;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            font-size: 14px;

            label {
                font-weight: 500;
                margin-bottom: 5px;
                margin-top: 10px;
            }

            .stuBt {
                text-align: center;

                .bt {
                    font-size: 12px;
                    text-transform: none;
                    margin-top: 10px;
                }
            }
        }
    }

    .classRight {
        width: 100%;
        height: 100vh;
        position: relative;
        padding-top: 50px;

        .headerClass {
            width: 100%;
            height: 50px;
            background: #0F55A7;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            padding-left: 20px;
            font-size: 20px;
            font-weight: 600;
            position: absolute;
            color: white;
            top: 0px;
            left: 0px;

            .date {
                width: 120px;
                line-height: 50px;
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 14px;
            }
        }

        .inner {
            width: 85%;
            margin: auto;

            .totalClasses {
                width: 80%;
                margin: auto;
                text-align: right;
                padding-top: 30px;
                font-weight: bold;
            }

            .studentData {
                margin: auto;
                margin-top: 4vh;
                width: 100%;
                line-height: 60px;
                font-size: 18px;
                font-weight: bold;
                position: relative;

                .addBt1 {
                    position: absolute;
                    top: 11px;
                    right: 0px;
                    text-transform: none;
                }
            }

            .tableBox {
                width: 100%;
                margin: auto;

                .tableHeader,
                .tableBody {
                    width: 100%;
                    display: grid;
                    line-height: 40px;
                    grid-template-columns: 70px 1fr 1fr 150px 130px 150px;

                    div {
                        border: 1px solid black;
                        padding-left: 20px;
                    }
                }

                .tableHeader {
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .tableResposive {
                    width: 100%;
                    height: 50vh;

                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .tableBody {
                        line-height: 30px;

                        input {
                            width: 18px;
                            height: 18px;
                            cursor: pointer;
                        }
                    }
                }

            }

            .saveBtBox {
                padding-top: 15px;
                width: 100%;
                margin: auto;
                text-align: right;
            }
        }
    }
}

@media (max-width:1200px) {
    .studentClass .classRight {
        .inner {
            width: 95%;
        }
    }
}

@media (max-width:1100px) {
    .studentClass {
        overflow-x: scroll;
        
        .classRight {
            padding: 0px 20px 0px 20px;
            .headerClass{
                position: fixed;
            }
            .inner {
                width: 800px;
            }
        }

    }
}


@media (max-width:768px) {
    .studentClass {
        grid-template-columns: 0px 1fr;
    }
}